.vs/

# これでまとめてもOK
# **/bin/
# **/obj/

src/SelfAspNet/bin/
src/SelfAspNet/obj/
src/SelfAspNet/Logs/
src/CoreIdentity/bin/
src/CoreIdentity/obj/
tests/SelfAspNet.Tests/obj/
tests/SelfAspNet.Tests/bin/