
<form asp-action="Cookie">
    <label for="cookieVal">クッキーの値</label>
    <input id="cookieVal" name="cookieVal" type="text" value="@ViewBag.cookieVal"
        class="form-control" />
    <input type="submit" value="送信" class="btn btn-primary" />
</form>
<p>
    クッキー：@ViewBag.cookieVal
</p>
