@model SelfAspNet.Models.Sample //単一の Sample オブジェクトがコントローラーから渡されてるので、コレクションの型指定が不要になってる(IEnumerable<SelfAspNet.Models.Sample>)

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sample</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
