@model SelfAspNet.Models.Sample

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
@* 試しにindexで渡してるViewBag.MesをEditページで参照したが、エラーにはならず値がないだけ *@
<p>@ViewBag.Mes</p>
<h4>Sample</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* 【大問題】 *@
            @* ユニークキーを特に更新箇所でルートパラメータやhiddenやinputにもたせるのはNG（id書き換えでデータ荒らし放題) *@
            @* また、ルートパラメータとhiddenやinput、クエリなどで同じパラメータ名があるとどれを受け取ってるかわからなくなるのでNG *@
            @* hiddenも今回スキャフォールディングで自動生成されてるが、セキュリティ的にも、そもそも的にも【大問題】なので開発者が危険なものは意識して対処しないといけない *@
            @* <input type="hidden" asp-for="Id" /> *@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTitle" class="control-label"></label>
                <input asp-for="SubTitle" class="form-control" />
                <span asp-validation-for="SubTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
