<form asp-action="Session">
    <label for="sessionVal">セッションの値：</label>
    <input id="sessionVal" name="sessionVal" type="text" value="@ViewBag.sessionVal"
        class="form-control" />
    <input type="submit" value="送信" class="btn btn-primary" />
</form>